<a href="https://colab.research.google.com/github/ahmoura/icsme2020-replication-package/blob/master/Finding_bugs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.6/dist-packages (2.2.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from lightgbm) (0.22.2.post1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->lightgbm) (0.16.0)

In [6]:
import pandas as pd
import numpy as np

import scipy.stats as stats
# Graduandos:
# No modelo:
#   Remover sem nome (index);
#   Aplicar Random Search (descobrir features importantes);
#   Se der, aplicar uma regressão logística;
#   Estudar AUC e ROC,se possível aplicar ao modelo;
#   Precision e Recall;
#   Aplicar correlação pela direita e esquerda:
#   Correlação; 
#   Média;
#   Quantidade de cada arquivo, commit, etc.
#   Detecção de Anomalias


# elemento no X pode estar vazando atributo alvo.

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
df_simple = pd.read_csv("/content/drive/My Drive/dataset_icsme/simple_data.csv")
df_replication = pd.read_csv("/content/drive/My Drive/dataset_icsme/replication_data.csv")

In [11]:
df_simple

      Unnamed: 0  files  authors  commits  days  conflicts  complex    bic
0             37    161       10       69    24          1     True  False
1            106     17        3        4     3          1    False  False
2            138    307       29       57     4          1     True   True
3            141    207       20       50    12          1     True  False
4            154    881       25       77     5          9     True   True
...          ...    ...      ...      ...   ...        ...      ...    ...
1585       21148     55        2        6     5          9     True  False
1586       21162     31        5       30     6          1    False  False
1587       21166     10        2       10     2          1    False  False
1588       21178     19        2        6     3          1    False  False
1589       21182     77        4       37     8          1     True  False

[1590 rows x 8 columns]

In [12]:
df_replication

      Unnamed: 0      Name  ... authorsLeft conflict
0             20  activemq  ...           9        1
1             41  activemq  ...           1        1
2            113    ambari  ...          33        2
3            114    ambari  ...           4        1
4            115    ambari  ...          21        2
...          ...       ...  ...         ...      ...
1585       21156  zeppelin  ...           2        2
1586       21165  zeppelin  ...           1        5
1587       21170  zeppelin  ...           1        9
1588       21172  zeppelin  ...           2        1
1589       21184  zeppelin  ...           9        1

[1590 rows x 25 columns]

In [13]:
df = pd.concat([df_simple,df_replication], axis=1)
df

      Unnamed: 0  files  authors  ...  nCommitsLeft  authorsLeft  conflict
0             37    161       10  ...            59            9         1
1            106     17        3  ...             2            1         1
2            138    307       29  ...            73           33         2
3            141    207       20  ...             5            4         1
4            154    881       25  ...            33           21         2
...          ...    ...      ...  ...           ...          ...       ...
1585       21148     55        2  ...            12            2         2
1586       21162     31        5  ...             1            1         5
1587       21166     10        2  ...             5            1         9
1588       21178     19        2  ...             8            2         1
1589       21182     77        4  ...            16            9         1

[1590 rows x 33 columns]

In [14]:
df = df.drop(["a_mergeDate",	"c_mergeDate",	"Unnamed: 0", "a_baseDate",	"c_baseDate",	"a_rightDate", "c_rightDate",	"a_leftDate",	"c_leftDate", "Merge", "Base", "right", "left", "Name","Unnamed: 0"], axis = 1)

In [15]:
df.dtypes

files             int64
authors           int64
commits           int64
days              int64
conflicts         int64
complex            bool
bic                bool
rightFiles        int64
rightAdditions    int64
rightRemovals     int64
leftFiles         int64
leftAdditions     int64
leftRemovals      int64
nCommitsRight     int64
authorsRight      int64
nCommitsLeft      int64
authorsLeft       int64
conflict          int64
dtype: object

In [16]:
df_simple[df_simple["bic"] == True]

      Unnamed: 0  files  authors  commits  days  conflicts  complex   bic
2            138    307       29       57     4          1     True  True
4            154    881       25       77     5          9     True  True
8            164    306       25      107     5          7     True  True
12           194    984       55      371     3          6     True  True
14           200   2243       13       40     1         12     True  True
...          ...    ...      ...      ...   ...        ...      ...   ...
1512       20441    177       17      189    53          6     True  True
1522       20545     99        5       39    40          3     True  True
1544       20769   1072       12      729   260          2     True  True
1552       20829     26        3       13     3          2    False  True
1553       20830   1911       20     1348   521          2     True  True

[150 rows x 8 columns]

In [17]:
df.bic.value_counts() / df.shape[0]

False    0.90566
True     0.09434
Name: bic, dtype: float64

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from lightgbm import LGBMClassifier
from sklearn.metrics import cohen_kappa_score, make_scorer

In [19]:
X = df.drop(columns=["bic"])
y = df["bic"]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0, test_size = 0.3, stratify=y)

In [20]:
clf = LGBMClassifier(random_state=0, class_weight='balanced')
clf.fit(X_train, y_train)
predict = clf.predict(X_test)

In [21]:
score_rf = cohen_kappa_score(clf.predict(X_test),y_test)

score_rf

-0.014521452145214608

In [23]:
X = df.drop("bic", axis = 1)
y = df["bic"]

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 0, test_size = 0.3)

In [24]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import cohen_kappa_score, make_scorer


cohen_score =  make_scorer(cohen_kappa_score)
distributions = {'criterion':['gini','entropy'],
                'max_depth': stats.randint(2, 8),
                'max_features': stats.randint(5,20),
                'min_samples_leaf': stats.randint(3, 7),
                'min_samples_split': stats.randint(8, 10),
                'n_estimators': stats.randint(100,1000)}
logistic = RandomForestClassifier()
# cv = n-cross-validation
random_search = RandomizedSearchCV(logistic, distributions, random_state=0, verbose=1, n_jobs=-1,n_iter=50, scoring=cohen_score)


random_search.fit(X_train, y_train)

print('Melhores parametros = \n',random_search.best_params_)
print('\nMelhor pontuação: \n',random_search.best_score_)
#{'criterion': 'entropy', 'max_depth': 5, 'max_features': 17, 'min_samples_leaf': 3, 'min_samples_split': 9, 'n_estimators': 815}
#{'criterion': 'entropy', 'max_depth': 7, 'max_features': 11, 'min_samples_leaf': 5, 'min_samples_split': 8, 'n_estimators': 173}

Fitting 5 folds for each of 50 candidates, totalling 250 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  46 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done 196 tasks      | elapsed:  4.5min
[Parallel(n_jobs=-1)]: Done 250 out of 250 | elapsed:  6.1min finished

Melhores parametros =
 {'criterion': 'gini', 'max_depth': 7, 'max_features': 5, 'min_samples_leaf': 6, 'min_samples_split': 9, 'n_estimators': 807}

Melhor pontuação:
 0.0

In [25]:

feature_importantes = pd.DataFrame(random_search.best_estimator_.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)
print(feature_importantes)
y_score = random_search.predict_proba(X_test)

                importance
files             0.134321
leftAdditions     0.095649
rightRemovals     0.074927
rightFiles        0.071934
rightAdditions    0.068982
commits           0.065362
leftRemovals      0.065324
leftFiles         0.061480
conflicts         0.055471
nCommitsLeft      0.050657
authors           0.050139
nCommitsRight     0.049116
days              0.048815
conflict          0.036683
authorsLeft       0.036313
authorsRight      0.030824
complex           0.004004

In [29]:
from sklearn.metrics import roc_auc_score, roc_curve
a = [1 if x[1]>=.5 else 0 for x in y_score]

In [28]:
print(roc_auc_score(y_test, a))

0.5

In [31]:
roc_curve(y_test, a)

(array([0., 1.]), array([0., 1.]), array([1, 0]))